<div class="content-item">
  <header>
    <h1>주소록</h1>
  </header>
  <div class="content-center">
    <a ng-click="scrollToTop()"><span class="glyphicon glyphicon-circle-arrow-up" style="font-size: 24px;"></span></a>
  </div>
</div>