$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background-color: #F5F5F5;
  font-size: 12px;
  font-family: 'Nanum Gothic';
}

a, .action {
  color: inherit;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 1px;
  text-decoration: none;
  cursor: pointer;
}

a:hover, .method:hover {
  border-bottom: 1px solid #444444;
}

table {
  width: 100%;
  border: none;
  border-spacing: 0;
}

tr:nth-child(even) {
  background: #f8f8f8;
}

th {
  padding: 10px;
  background: #e8e8e8;
  text-align: left;
}

td, td.option {
  padding: 10px;
  vertical-align: top;
}

td.option {
  background: transparent;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}

.cover {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: #000000 url(../images/bg_saltlake_city.jpg) center no-repeat;
  background-size: cover;
  border-bottom: 1px solid #000000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.coverVideo {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

.keyword {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 80%;
  border: 10px solid #ffffff;
  border-radius: 0;
}

.keyword input {
  width: 100%;
  color: #fff;
  font-size: 30px;
  border: none;
  background-color: transparent;
  padding: 10px;
}

.keyword input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.8); }
.keyword input:-moz-placeholder           { color: rgba(255, 255, 255, 0.8); }
.keyword input::-moz-placeholder          { color: rgba(255, 255, 255, 0.8); }
.keyword input::-ms-input-placeholder     { color: rgba(255, 255, 255, 0.8); }

.keyword input:focus {
  outline: none;
  background-color: rgba(30, 30, 30, 0.3);
}

.keyword button {
  visible: hidden;
}

.keyword-logo {
  position: absolute;
  top: 5%;
  left: 10%;
}

.keyword-logo img {
  width: 84px;
  opacity: 0.60;
}



.content {
  width: 100%;
}

.content-item {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 50px 0 50px;
  padding: 30px;
}

.content-item h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

.content-item h1:after {
  content: "";
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  margin: 20px auto;
  background: #838383;
}

.content-center {
  text-align: center;
}

.pagination > li > a, a:hover {
  color: black;
}

.menu {
  background-color: black;
  padding: 3px 10px 3px 3px;
}

.menu a:visited, a:link, a:active {
  color: gray;
  border: 0;
  text-decoration: none;
}

.menu a:hover {
  color: black;
  background-color: white;
}

// Main Preview
.preview .modal-dialog {
  width: 90%;
}

.preview {
  padding: 20px;
}

.preview h1 {
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: left;
  text-transform: uppercase;
}

// Main Defines
.defines a, a:visited, a:link, a:active {
  color: yellow;
}

.definesContent {
  font-size: 24px;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.definesContent img {
  max-height: 400px;
}
