<div class="content-item">
    <header>
        <h1>Keyword</h1>
    </header>
    <table>
	    <thead>
	        <tr>
	            <th scope="col">검색어</th>
	            <th scope="col">검색시각</th>
	        </tr>
	    </thead>
	    <tbody>
	    <tr ng-repeat="k in keywordList">            
	        <td>{{ k.keyword }}</td>
            <td>{{ k.time }}</td>
	    </tr>
	    </tbody>
	</table>
	<div class="content-center">
	    <a ng-click="scrollToTop()"><span class="glyphicon glyphicon-circle-arrow-up" style="font-size: 24px;"></span></a>
	</div>
</div>