<div id="cover" class="cover">
    <div class="coverVideo" ng-show="defines.contactVideoExist">
        <video id="contactVideo" width="100%" muted loop></video>
    </div>
    <div class="keyword-logo">
        <img src="images/logo_white.png" alt="SI Logo" />
    </div>
    <div class="keyword">
        <form ng-submit="search(0)">
            <input type="text" placeholder="KEYWORD" ng-model="keyword" ng-change="keywordChanged()" list="defines">
        </form>
        <datalist id="defines">
            <option ng-repeat="word in defines.words track by $index" value="{{ word }}">
        </datalist>
        <div collapse="defines.contactHide" ng-include="defines.contactTemplate"></div>
    </div>            
</div>
<div class="content">
    <section id="search-result">
        <div class="content-item">
            <header>
                <h1>RESULT</h1>
            </header>
            <table>
                <thead>
                    <tr>
                        <th scope="col">순번</th>
                        <th scope="col">경로</th>
                        <th scope="col">기능</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="doc in data.hits.hits">
                    <td>{{ page * pageSize + $index + 1 }}</td>
                    <td><a ng-click="preview(doc)">{{ doc._source.url }}</a></td>
                    <td>
                        <a ng-click="preview(doc)"><span class="glyphicon glyphicon-list-alt"></span></a>                       
                        <a ng-click="download(doc)" download><span class="glyphicon glyphicon-download-alt"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="content-center">
                <ul class="pagination pagination-sm">
                  <li class="previous" ng-class="{disabled: (page - pagePerScreen < 0)}"><a ng-click="search(page - pagePerScreen)">&larr; 이전</a></li>
                  <li ng-class="{active: (($index + pageStart) == page)}" ng-repeat="i in pages track by $index">
                    <a class="pagination-black" ng-click="search($index + pageStart)">{{ $index + pageStart + 1 }}</a>
                  </li>
                  <li class="next" ng-class="{disabled: (page + pagePerScreen > pageCount)}"><a ng-click="search(page + pagePerScreen)">다음 &rarr;</a></li>
                </ul>
            </div>
            <div class="content-center">
                <a ng-click="scrollToTop()"><span class="glyphicon glyphicon-circle-arrow-up" style="font-size: 24px;"></span></a>
            </div>
        </div>
    </section>
</div>