<div class="definesContent">
	<ul>
		<li><span class="glyphicon glyphicon-phone-alt"> {{ defines.contact.tel }}</span></li>
		<li><span class="glyphicon glyphicon-phone"> {{ defines.contact.mobile }}</span></li>
		<li><span class="glyphicon glyphicon-envelope"> <a href="mailto:{{ defines.contact.email }}@satreci.com">{{ defines.contact.email }}@satreci.com</a></span></li>
	</ul>
	<img ng-src="{{ defines.contactPhoto }}">
</div>